.headerComponent {
	background-color: var(--darkTurquoise);
	height: 80px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;

	.logoLink {
		position: absolute;
		left: 50%;
		margin-left: -50px;
		top: 0;
		.logo {
			border-radius: 100%;
			transition: box-shadow 0.5s;
			&:hover,
			&:active {
				box-shadow: 0px 0px 10px #3ad9bc;
			}
		}
	}

	.websiteName {
		cursor: pointer;
		color: var(--customYellow);
		font-size: 24px;
		font-weight: bold;
		font-family: var(--font-handlee);
		position: absolute;
		left: 20px;
		letter-spacing: 1px;
		top: 4px;
		font-style: italic;
		text-align: center;
		transition: text-shadow 0.5s;
		&:hover,
		&:active {
			text-shadow: 0 0 10px var(--customYellow);
		}
	}

	.loginLinkBloc {
		cursor: pointer;
		display: flex;
		color: var(--customWhite);
		font-size: 18px;
		font-weight: bold;
		position: absolute;
		right: 30px;
		top: 25px;
		gap: 5px;
		font-style: italic;
		letter-spacing: 1px;
		.textContent {
			transition: color 0.5s, text-shadow 0.5s;
		}

		&:hover .textContent,
		&:active .textContent {
			color: var(--blueGreen);
			text-shadow: #3ad9bc 0px 0px 10px;
		}
		&:hover .iconContent,
		&:active .iconContent {
			background-image: url("/icons/icon_login-blue.svg");
		}
		.iconContent {
			background-image: url("/icons/icon_login.svg");
			background-repeat: no-repeat;
			background-position: center;
			width: 24px;
			margin-top: -2px;
			transition: background-image 0.5s;
			&.activeLink {
				background-image: url("/icons/icon_login-blue.svg");
			}
		}
	}

	.showServices {
		position: relative;
		&:hover .servicesText,
		&:active .servicesText {
			color: #3ad9bc;
			text-shadow: #3ad9bc 0px 0px 10px;
		}
		&:hover .servicesIcon,
		&:active .servicesIcon {
			background-image: url("/icons/icon_drop-down-blue.svg");
		}
		&:hover div,
		&:active div {
			display: flex;
		}
		div {
			background-color: var(--darkTurquoise);
			border-radius: 0 0 10px 10px;
			display: none;
			gap: 10px;
			position: absolute;
			top: 70px;
			left: 0;
			white-space: nowrap;
			padding: 10px 15px 10px 15px;
			margin-left: -10px;
		}
		.servicesText {
			cursor: pointer;
			display: flex;
			&.activeLink .servicesIcon {
				background-image: url("/icons/icon_drop-down-blue.svg");
			}
		}
		.servicesIcon {
			background-image: url("/icons/icon_drop-down.svg");
			background-repeat: no-repeat;
			background-position: center;
			width: 24px;
			transition: background-image 0.5s;
		}
	}

	.greenLight {
		color: #fcf2d9;
		letter-spacing: 1px;
		font-weight: 600;
		transition: color 0.5s, text-shadow 0.5s;
		&:hover,
		&:active,
		&.activeLink {
			color: #3ad9bc;
			text-shadow: #3ad9bc 0px 0px 10px;
		}
	}
}

.headerContentMobile {
	height: 100%;
	display: flex;
	justify-content: space-between;

	button {
		height: 100%;
		line-height: 80px;
		margin-left: 16px;
	}

	.logoOnMobile {
		position: absolute;
		left: 50%;
		margin-left: -40px;
		top: 40px;
		img {
			border-radius: 100%;
		}
	}

	.mainTitleSmallMobile,
	.mainTitleMobile {
		color: var(--customYellow);
		font-family: var(--font-handlee);
		font-size: 22px;
		font-style: italic;
		letter-spacing: 1px;
		text-align: center;
		margin-top: auto;
		margin-bottom: auto;
	}

	.mainTitleMobile {
		margin-top: 6px;
		font-size: 24px;
	}

	.loginLinkBlocMobile {
		background-image: url("/icons/icon_login-mobile.svg");
		background-repeat: no-repeat;
		background-position: center;
		width: 36px;
		margin-right: 16px;
		transition: background-image 0.5s;
		&.activeLink {
			background-image: url("/icons/icon_login-mobile-blue.svg");
		}
	}

	.mobileNav {
		background-color: var(--darkTurquoise);
		position: fixed;
		width: 100%;
		height: 100%;
		top: 80px;
	}
}
