.componentCustomTextarea {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 100%;
	label {
		font-size: 16px;
		&.required:after {
			content: " *";
			color: var(--error700);
		}
	}
	textarea {
		border: 1.5px solid #abb0af;
		border-radius: 6px;
		font-size: 14px;
		height: 38px;
		min-height: 100px;
		padding: 10px;
		width: 100%;
		&.error {
			border: 1.5px solid var(--error700);
			background-color: var(--error300);
		}
		&.validated {
			border: 1.5px solid var(--success700);
			background-color: var(--success300);
		}
	}
	p {
		color: var(--error700);
		font-size: 12px;
		font-style: italic;
		margin-top: -5px;
		text-align: right;
	}
}
