footer {
	.lightHover {
		color: var(--darkTurquoiseLighter);
		font-size: 14px;
		transition: color 0.5s, text-shadow 0.5s;
		&:hover,
		&:active {
			color: #fcf2d9;
			text-shadow: #fcf2d9 0px 0px 10px;
		}
	}
	.borderBottomYellow {
		border-bottom: 2px solid var(--customYellow);
		width: fit-content;
	}
}
