@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--darkTurquoise: #062933;
	--customWhite: #fcf2d9;
	--blueGreen: #3ad9bc;
	--customYellow: #fdd542;

	--success300: #f9fefc;
	--success500: #d1fbed;
	--success600: #8df5d3;
	--success700: #10b981;

	--error300: #fef9f9;
	--error500: #f9dcdc;
	--error600: #f1a8a8;
	--error700: #dc2626;
}

.customBorderBlue {
	border-bottom: 7px double #3ad9bc;
	border-top: 7px double #3ad9bc;
	border-radius: 30px;
	box-shadow: 0 0 10px #3ad9bc;
}

.customBorderYellow {
	border-bottom: 7px double #fdd542;
	border-top: 7px double #fdd542;
	border-radius: 30px;
	box-shadow: 0 0 10px #fdd542;
}

.customBorderPink {
	border-bottom: 7px double pink;
	border-top: 7px double pink;
	border-radius: 30px;
	box-shadow: 0 0 10px pink;
}

.disabledBtn {
	pointer-events: none;
	opacity: 0.7;
}

.redirectLinkBlue {
	font-weight: 600;
	font-style: italic;
	transition: text-shadow 0.5s;
	&:hover {
		text-shadow: 0 0 10px var(--blueGreen);
	}
}

.redirectLinkYellow {
	font-weight: 600;
	font-style: italic;
	transition: text-shadow 0.5s;
	&:hover {
		text-shadow: 0 0 10px var(--customYellow);
	}
}

.redirectLinkPink {
	font-weight: 600;
	font-style: italic;
	transition: text-shadow 0.5s;
	&:hover {
		text-shadow: 0 0 10px pink;
	}
}

.actionBtn {
	background-color: #062933;
	border-radius: 8px;
	color: white;
	height: 40px;
	margin: 20px 0;
	padding: 0 40px;
	width: fit-content;
	transition: color 0.5s, box-shadow 0.5s;
	&:hover {
		box-shadow: 0px 0px 10px #3ad9bc;
		color: #3ad9bc;
	}
}

.customImgYellow {
	border: 5px double var(--customYellow);
	border-radius: 4px;
	box-shadow: 0 0 10px var(--customYellow);
}

.customImgBlueGreen {
	border: 5px double var(--blueGreen);
	border-radius: 4px;
	box-shadow: 0 0 10px var(--blueGreen);
}

.customImgPink {
	border: 5px double pink;
	border-radius: 4px;
	box-shadow: 0 0 10px pink;
}
