.componentCustomInputSelect {
	width: 100%;
	position: relative;
	.blocInput {
		display: flex;
		flex-direction: column;
		gap: 10px;
		label {
			font-size: 14px;
			font-family: var(--font-roboto);
			&.required:after {
				content: " *";
				color: #e1280c;
			}
		}
		button {
			background: var(--white);
			border: 1px solid var(--secondary-300);
			border-radius: 4px;
			cursor: pointer;
			display: flex;
			font-size: 14px;
			font-family: var(--font-roboto);
			height: 38px;
			justify-content: space-between;
			padding: 10px;
			img {
				margin-top: -4px;
			}
		}
	}
	.arrayDatasToSelect {
		background-color: var(--white);
		border-radius: 6px;
		box-shadow: 0 6px 12px var(--secondary-500);
		overflow: auto;
		max-height: 280px;
		position: absolute;
		width: 100%;
		z-index: 1;
		button {
			background-color: var(--white);
			border: 0;
			display: flex;
			font-size: 14px;
			font-weight: 700;
			justify-content: space-between;
			height: 40px;
			cursor: pointer;
			padding: 10px;
			width: 100%;
			&:hover,
			&.isSelected {
				background-color: var(--secondary-hover);
			}
			img {
				margin-top: -2px;
			}
			p {
				margin-top: auto;
				margin-bottom: auto;
				overflow-x: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}
	}
}
