.separateLine {
	width: 90%;
	margin: 8px auto;
	border: 1px solid var(--blueGreen);
	box-shadow: 0 0 10px var(--blueGreen);
}

.customTab {
	p {
		border-top: 2px solid var(--blueGreen);
		width: 80%;
		padding-top: 8px;
		margin-left: auto;
		text-align: center;
		margin-right: auto;
		&:first-child {
			border: none;
		}
	}
}
