.tarifsPageComponent {
	.separator1,
	.separator2,
	.separator3 {
		width: 60%;
		height: 2px;
		border-radius: 10px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 5px;
		margin-bottom: 5px;
		opacity: 0.6;
	}
	.separator1 {
		background-color: var(--customYellow);
		box-shadow: 0 0 10px var(--customYellow);
	}
	.separator2 {
		background-color: var(--blueGreen);
		box-shadow: 0 0 10px var(--blueGreen);
	}
	.separator3 {
		background-color: pink;
		box-shadow: 0 0 10px pink;
		opacity: 0.8;
	}
}
