.tarifsPageComponent {
	.separator1,
	.separator2,
	.separator3 {
		width: 80%;
		height: 2px;
		border-radius: 10px;
		margin-left: auto;
		margin-right: auto;
	}
	.separator1 {
		background-color: var(--customYellow);
		box-shadow: 0 0 10px var(--customYellow);
	}
	.separator2 {
		background-color: var(--blueGreen);
		box-shadow: 0 0 10px var(--blueGreen);
	}
	.separator3 {
		background-color: pink;
		box-shadow: 0 0 10px pink;
	}

}
